# {{ ansible_managed }}
{% import 'macros/key.j2' as j2key with context %}
{% import 'macros/failover.j2' as j2failover with context %}
{% import 'macros/zone.j2' as j2zone with context %}
{% import 'macros/shared_network.j2' as j2shared_network with context %}
{% import 'macros/subnet.j2' as j2subnet with context %}
{% import 'macros/group.j2' as j2group with context %}
{% if dhcp_server_keys is defined %}

{%   for key_name, key in dhcp_server_keys.iteritems() | sort %}
{{     j2key.print(key_name, key) }}
{%   endfor %}
{% endif %}
{% if dhcp_server_options is defined %}

{%   for option, value in dhcp_server_global.iteritems() | sort %}
{{ option }} {{ value }};
{%   endfor %}
{% endif %}
{% if dhcp_server_failover is defined %}

{%   for name, config in dhcp_server_failover.iteritems() | sort %}
{{     j2failover.print(name, config) }}
{%   endfor %}
{% endif %}
{% if dhcp_server_zones is defined %}

{%   for zone, content in dhcp_server_zones.iteritems() | sort %}
{{     j2zone.print(zone, content ) }}
{%   endfor %}
{% endif %}
{% if dhcp_server_shared_networks is defined %}

{%   for network, config in dhcp_server_shared_networks.iteritems() | sort %}
{{     j2shared_network.print(network, config) }}
{%   endfor %}
{% endif %}
{% if dhcp_server_subnets is defined %}

{{   j2subnet.print_all(dhcp_server_subnets) }}
{% endif %}
{% if dhcp_server_groups is defined %}

{{   j2group.print_all(dhcp_server_groups) }}
{% endif %}