{% macro print(subnet) %}
subnet {{ subnet.address }} netmask {{ subnet.netmask }} {
{% if subnet.options is defined and subnet.options %}
{%   for param, value in subnet.options.iteritems() | sort %}
    option {{ param }} {{ value }};
{%   endfor %}
{% endif %}
{% for key, value in subnet.iteritems() | sort  %}
{%   if key not in ('address', 'hosts', 'netmask', 'options', 'pools') %}
    {{ key }} {{ value }};
{%   endif %}
{% endfor %}
{% if subnet.pools is defined and subnet.pools %}
{%   for pool in subnet.pools %}

    pool {
{%     if pool.options is defined and pool.options %}
{%       for param, value in pool.options.iteritems() | sort %}
        option {{ param }} {{ value }};
{%       endfor %}
{%     endif %}
{%     for key, value in pool.iteritems() | sort %}
{%       if key != 'options' %}
        {{ key }} {{ value }};
{%       endif %}
{%     endfor %}
    }
{%   endfor %}
{% endif %}
{% if subnet.hosts is defined and subnet.hosts %}
{%   for host, content in subnet.hosts.iteritems() | sort %}

    host {{ host }} {
{%     if host.options is defined and host.options %}
{%       for param, value in host.options.iteritems() | sort %}
        option {{ param }} {{ value }};
{%       endfor %}
{%     endif %}
{%     for key, value in content.iteritems() | sort  %}
{%       if key != 'options' %}
        {{ key }} {{ value }};
{%       endif %}
{%     endfor %}
    }
{%   endfor %}
{% endif %}
}
{% endmacro %}