{% macro print(name, parameters) %}
failover peer "{{ name }}" {
{%   for line in parameters.split('\n') | sort %}
{%     if line != '' %}
    {{ line }}
{%     endif %}
{%   endfor %}
}
{% endmacro %}