{% macro print(group, config) %}
group {
{% if config.options is defined and config.options %}
{%   for param, value in config['options'].iteritems() | sort %}
    {{ param }} {{ value }};
{%   endfor %}
{% endif %}
{% if config.hosts is defined and config.hosts %}
{%   for host, options in config['hosts'].iteritems() | sort %}

    host {{ host }} {
{%     for line in options.split('\n')[:-1] | sort %}
        {{ line }}
{%     endfor %}
    }
{%   endfor %}
{% endif %}
}
{% endmacro %}